**/.git
**/.gitignore
**/.vs
**/.idea
**/.vscode
**/.DS_Store
**/bin
**/obj
**/TestResults
**/*.user
**/*.DotSettings.user
**/logs
**/service_logs
**/uploads/*
!**/uploads/.gitkeep
*service-account*.json
smc-service-account.json

